{% extends "base.html" %}

{% block main %}
<h1 class="page-header">About</h1>
<p>The following webpage if for a COMP2171 project at the University of the West Indies, Mona. This website was created for a local company Hair For You.</p>
<h3>Contributors</h3>
<ul>
  <li>Shadean Payton - 620137075</li>
  <li>Dana Edwards - 620127775</li>
  <li>Akera Foster - 620137505</li>
  <li>Keneil Thompson - 620128524</li>
  <li>Tianna-Lee Salmon - 620134034<li>
  <li>Rohena Black - 620149139</li>
</ul>
{% endblock %}