{% extends "base.html" %}

{% block main %}
<h1 class="page-header">About</h1>
<p>The following webpage if for a COMP2171 project at the University of the West Indies, Mona. This website was created for a local company Hair For You.</p>
<h3>Contributors</h3>
<ul>
  <li>Shadean Payton - 620137075</li>
  <li>Dana Edwards - #########</li>
  <li>Akera Foster - #########</li>
  <li>Kenniel Thompson - #########</li>
  <li>Tiana Lee Salmon - #########</li>
  <li>Rohena Black - #########</li>
</ul>
{% endblock %}